munit1/target/classes/munit1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="munit1Flow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/munit1" allowedMethods="GET" doc:name="HTTP"/>
		<set-payload value="#[message.inboundProperties.'http.query.params'.['decisionFlow']]" doc:name="Set Payload"/>
		<flow-ref name="munit1Flow1" doc:name="munit1Flow1"/>
		<choice doc:name="Choice">
			<when expression="#[flowVars.decisionVariable.equals('decision1')]">
				<set-payload value="#['Decision1 was the choice']" doc:name="decision1"/>
			</when>
			<otherwise>
				<set-payload value="#['Decision2 was the choice']" doc:name="decision2"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="munit1Flow1">
		<choice doc:name="Choice">
			<when expression="#['value1'.equals(payload)]">
				<flow-ref name="munit1Flow2" doc:name="munit1Flow2"/>
			</when>
			<otherwise>
				<flow-ref name="munit1Flow3" doc:name="munit1Flow3"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="munit1Flow2">
		<set-variable variableName="decisionVariable" value="#['decision1']" doc:name="Variable"/>
	</flow>
	<flow name="munit1Flow3">
		<set-variable variableName="decisionVariable" value="#['decision2']" doc:name="Variable"/>
	</flow>
</mule>
